/* header////////////////////////////////////////////////////////////////// */
.navbar {
  min-height: 75px;
  font-family: 'Heebo', sans-serif;
}

/* item styles */
.nav-item:hover {
  background-color: #F42C04;
}

.nav-item {
  text-align: center;
}

.nav-item:nth-child(1) {
  margin-top: 5px;
}
/* body main//////////////////////////////////////////////////////////////// */
body {
  font-family: 'Heebo', sans-serif;
}

#main-head {
  text-align: center;
  padding: 15px 0;
  background-color: #EFF6E0;
}

/* adjustable/////////////////////////////////////////////////////////////// */
#main-tile {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.card-title {
  text-align: center;
  font-size: 1.9em;
}

.menu-card {
  margin-bottom: 14px;
}

/* responsive md */

/* responsive sm */

/* responsive xs */
